body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial;
}

#overlay {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    z-index: 10;
}

#deathScreen {
    position: absolute;
    inset: 0;
    background: rgba(120, 0, 0, 0.95);
    display: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    z-index: 20;
}
